{% load i18n %}

<script>
	$(document).ready(function() {
        $('#responsedata').dataTable();
    });
</script>

<h3>{% trans 'Response from'%} {{agent}} - {{action}}</h3>
<div>
	<table id="responsedata" class="serverstatus">
		<thead>
			<th>{% trans 'Server'%}</th>
			<th>{% trans 'Status'%}</th>
			<th>{% trans 'Message'%}</th>
			<th>{% trans 'Response'%}</th>
		</thead>
			
		<tbody>
				
{% for resp in content %}
		<tr>
			<td>
				{{resp.sender}}
			</td>
			<td>
				{% if resp.statuscode == 0 %}
					<img src="{{settings.STATIC_URL}}images/icons/ok.png" style="height: 16px;"/>
				{% else %}
					<img src="{{settings.STATIC_URL}}images/icons/ko.png" style="height: 16px;"/>
				{% endif %}
			</td> 
			<td>
				{% if resp.statuscode == 0 %}
				 &nbsp;
				 {% else %}
				 	{{resp.statusmsg}}
				 {% endif %}
			</td>
			<td>
				<div class="infohighlight">
					{% for content,data in resp.data.items %}
						{% for key,value in outputs.items %}
						 {% if key == content %}
						 	<b>{{value}}</b>: {{data}} <br>
						 {% endif %} 
						{% endfor%}
					{% endfor %}	
				</div>
			</td>
		</tr>
{% endfor %}
		</tbody>
	</table>
</div>
