{% load i18n %}

<script>
	$(document).ready(function() {
        $(".collapsibleContainer").collapsiblePanel();
    });
</script>

<h3>{% trans 'Response from'%} {{agent}} - {{action}}</h3>
{% for resp in content %}
	<div class="collapsibleContainer" title="{{resp.sender}}" closed="{% if forloop.first %}false{% else %}true{% endif %}">
		{% if resp.statuscode == 0 %}
			<span>{% trans 'Response status'%}: <img src="{{settings.STATIC_URL}}images/icons/ok.png" style="height: 16px;"/></span>
		{% else %}
			<span>{% trans 'Response status'%}: <img src="{{settings.STATIC_URL}}images/icons/ko.png" style="height: 16px;"/> {{resp.statusmsg}}</span>
		{% endif %} 
		<div class="infohighlight">
		{% for content,data in resp.data.items %}
			{% for key,value in outputs.items %}
			 {% if key == content %}
			 	<b>{{value}}</b>: {{data}} <br>
			 {% endif %} 
			{% endfor%}
		{% endfor %}
		</div>
	</div>
	<br/>
{% endfor %}
