{% extends "widgets/base_widget.html" %}
{% load i18n%}
{% block widget-content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#serverstatustable').dataTable({
			 "oLanguage": {
	            "sSearch": "Server Search:"
        	},
        	"aaSorting": [[ 1, "asc" ]],
        	"bStateSave": true,
        	"bRetrieve": true
		});
	} );
</script>
<style type="text/css">
table.serverstatus {
	border-width: 2px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	width: 100%;
}

table.serverstatus th {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

table.serverstatus tr.even {
	background: #CCCCCC;
}
table.serverstatus tr.odd {
	background: #F0F0F0
}

</style>
<div id="actual-server-status">
	<table id="serverstatustable" class="serverstatus">
		<thead>
			<th width="60px">{% trans 'A7X'%}</th>
			<th>{% trans 'Hostname'%}</th>
			<th>{% trans 'Activity'%}</th>
			<th>{% trans 'Platform'%}</th>
			<th>{% trans 'Env.'%}</th>
			<th>{% trans 'Zone'%}</th>
			<th>{% trans 'Appli'%}</th>
		</thead>
		<tbody>
			{% for server in servers %}
			<tr class="{% cycle odd,even %}">
				<td width="5%"><img src="{{settings.STATIC_URL}}images/icons/{% if server.online %}online.png{% else %}offline.png{% endif %}" style="border: 0px; height: 15px;margin: 3px;float:none;"/></td>
				<td><a href="{% url serverdetails server.hostname %}">{{server.fqdn}}</a></td>
				<td>{{server.lvl1}}</td>
				<td>{{server.lvl2}}</td>
				<td>{{server.lvl3}}</td>
				<td>{{server.lvl4}}</td>
				<td>{{server.lvl5}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 