{% extends "theme/meta.html" %}
{% load widgets %}
{% load i18n %}

{% block navbar %}{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
	<a href="{{base_url}}/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %} <a href="{{base_url}}/chain/show/">{% trans 'Scheduler' %}</a>
</div>
{% endblock %}

{% block content %} 
<br/>
<div id="columns">
	<ul id="singlecolumn" class="column">
		{% widget "ChainEditor" user %}
		{% widget "ChainHistory" user %}
		&nbsp;<br/>&nbsp;<br/>
	</ul>
</div>
{% endblock %} 