{% extends "theme/meta.html" %}

{% block navbar %}{% endblock %}

{% block content %}

    <h2>OpenSource is great! Thank you for all these components!</h2>
    <p>
        There are a lot of opensource technologies in this application. This page is a "thanks" for all the people that help us to work in the OpenSource community.  
    </p>
    <p>   
        We believe that a solution is a fine mix of technology, processes and people, enabling the core business of our customer to grow.
    </p>
    <p>
        The Opensource model has a huge potential to reduce costs and improve performances, but to exploit it, organizations have to participate actively in the development of opensource communities and technologies and Byte-Code enable this "missing" step.
    </p>

    <ul class="no_point">   
        <li><a href="http://www.djangoproject.com/"><img src="/static/img/bookmarks-32.png" align="middle" />Django</a></li>
        <li><a href="http://github.com/danielfm/django-flash"><img src="/static/img/bookmarks-32.png" align="middle" />Django Flash</a></li>
        <li><a href="http://www.python-excel.org/"><img src="/static/img/bookmarks-32.png" align="middle" />Python Excel</a></li>
        <li><a href="http://www.reportlab.org/"><img src="/static/img/bookmarks-32.png" align="middle" />ReportLab</a></li>
        <li><a href="http://www.everaldo.com/crystal/"><img src="/static/img/bookmarks-32.png" align="middle" />Crystal Project Icons</a></li>
        <li><a href="http://www.famfamfam.com/"><img src="/static/img/bookmarks-32.png" align="middle" />FamFam Icons</a></li>
        <li><a href="http://www.fusioncharts.com/"><img src="/static/img/bookmarks-32.png" align="middle" />Fusion Charts Free</a></li>
    </ul>
   
{% endblock %}