{% extends "theme/meta.html" %}
{% load widgets %}
{% load i18n %}

{% block navbar %}{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
	<a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<script type="text/javascript">
	function sendRequestToMcollective(url, destination, type) {
		$("#" + destination).empty();

		$.ajax({
			// The link we are accessing.
			url : url,
			// The type of request.
			type : "get",
			// The type of data that is getting returned.
			dataType : "html",
			error : function() {
				//TODO: Show error message
				$('#loading').hide();
			},
			beforeSend : function() {
				$('#loading').show();
			},
			complete : function() {
				$('#loading').hide();
			},
			success : function(data) {
				if(type == 'json') {
					var jsonObj = jQuery.parseJSON(data);
					$.each(jsonObj, function(i, resp) {
						content = '<strong>' + resp.sender + '</strong>';
						content += '<ul>';
						content += '<li> Status Code: ' + resp.statuscode + '</li>';
						content += '<li> Status Message: ' + resp.statusmsg + '</li>';
						content += '<li> Data: ' + JSON.stringify(resp.data) + '</li>';
						content += '</ul>';
						$(content).appendTo("#" + destination);
					});
				} else {
					$("#" + destination).html(data);
				}
			}
		});
	}

	function callMcollective(url, destination) {
		sendRequestToMcollective(url, destination, 'json')
	}

	function callMcollectiveWithTemplateRsp(url, destination) {
		sendRequestToMcollective(url, destination, 'html')
	}
</script>
<br/>
<br/>
<div id="columns">
	{% for column_id, content in widgets.items%}
	<ul id="column{{column_id}}" class="column">
		{% for current_widget in content%}
		{% widget current_widget.name %}
		{% endfor %}
	</ul>
	{% endfor %}
</div>
{% endblock %} 