{% extends "widgets/base_widget.html" %}
{% load i18n %}
{% block widget-content %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#systemstatustable').dataTable({
			 "oLanguage": {
	            "sSearch": "System Search:"
        	}
		});
	} );
</script>

<style type="text/css">
table.systemstatus {
	border-width: 2px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	width: 100%;
}

table.systemstatus th {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

table.systemstatus tr.even {
	background: #CCCCCC;
}
table.systemstatus tr.odd {
	background: #F0F0F0
}

</style>
<br/>
<div id="actual-server-status">
	<table id="systemstatustable" class="systemstatus">
		<thead>
			<th width="60px">{% trans 'Online'%}</th>
			<th>{% trans 'Hostname'%}</th>
			<th>{% trans 'Operating System'%}</th>
			<th>{% trans 'Architecture'%}</th>
		</thead>
		<tbody>
			{% for server in servers %}
			<tr class="{% cycle odd,even %}">
				<td width="5%"><img src="{{settings.STATIC_URL}}images/icons/{% if server.online %}online.png{% else %}offline.png{% endif %}" style="border: 0px; height: 15px;margin: 3px;float:none;"/></td>
				<td><a href="{% url serverdetails server.hostname %}">{{server.fqdn}}</a></td>
				<td>{{server.os}}</td>
				<td>{{server.architecture}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br/>
{% endblock %} 