{% extends "widgets/base_widget.html" %}

{% block widget-content %}
<script>
	function bindContextMenu(span) {
	    // Add context menu to this node:
	    $(span).contextMenu({menu: "myMenu"}, function(action, el, pos) {
	      // The event was bound to the <span> tag, but the node object
	      // is stored in the parent <li> tag
	      var node = $.ui.dynatree.getNode(el);
	      var filterType
	      //Verifying if the context menu is for a folder or for a server
	      if (node.data.isFolder) {
	      	filterType = "class_filter"
	      } else {
	      	filterType = "identity_filter"
	      }
	      
	      //If we are working on a folder the filter should be for the complete path and not for the single folder selected
	      var filtersList = ''
	      if (node.data.isFolder) {
	      	var classes = node.getKeyPath().split('/');
	      	for (i in classes) {
	      		if (classes[i]!='') {
	      			if (filtersList != '') {
	      				filtersList += ';'
	      			}
	      			filtersList += filterType + '=' + classes[i];
	      		}
	      	}
	      } else {
	      	filtersList += filterType + '=' + node.data.title
	      }
	      
	      switch( action ) {
	      	case "ping":
	      		callMcollectiveWithTemplateRsp('/restapi/mcollective-template/ping/' + filtersList + '/rpcutil/ping/', 'response-container');
	      	break;
	      }
	    });
	  };

	$(document).ready(function() {
		$("#classestree").dynatree({
			title : "Puppet Classes",
			fx : {
				height : "toggle",
				duration : 200
			},
			autoFocus : false, // Set focus to first child, when expanding or lazy-loading.
			onCreate: function(node, span){
				bindContextMenu(span);
      		},
			initAjax : {
				url : "/puppetclasses/tree/get_tree_nodes/-1/",
				data : {
					mode : "funnyMode"
				}
			},

			onLazyRead : function(node) {
				path = node.getKeyPath().replace(/\//g, "_");
				node.appendAjax({
					url : "/puppetclasses/tree/get_tree_nodes/"+node.data.level+"/"+path+"/",
					data : {
						key : node.data.key,
						mode : "funnyMode"
					}
				});
				// .. but here we use a local file instead:
			},
			onQueryActivate : function(activate, node) {
				
				//        return false;
			},
			onActivate : function(node) {
				
			},
			onDeactivate : function(node) {
				logMsg("onDeactivate(%o)", node);
				$("#echoActive").text("-");
			},
			onQuerySelect : function(select, node) {
				logMsg("onQuerySelect(%o, %o)", select, node);
				if(node.data.isFolder)
					return false;
			},
			onSelect : function(select, node) {
				logMsg("onSelect(%o, %o)", node);
				var s = node.tree.getSelectedNodes().join(", ");
				$("#echoSelected").text(s);
			},
			onQueryExpand : function(expand, node) {
				logMsg("onQueryExpand(%o, %o)", expand, node);
				//        return false;
			},
			onExpand : function(expand, node) {
				logMsg("onExpand(%o, %o)", expand, node);
			},
			onFocus : function(node) {
				logMsg("onFocus(%o)", node);
				$("#echoFocused").text(node.data.title);
				// Auto-activate focused node after 2 seconds
				node.scheduleAction("activate", 2000);
			},
			onBlur : function(node) {
				logMsg("onBlur(%o)", node);
				$("#echoFocused").text("-");
			},
			onClick : function(node, event) {
				logMsg("onClick(%o, %o)", node, event);
				// Close menu on click
		        if( $(".contextMenu:visible").length > 0 ){
		          $(".contextMenu").hide();
		//          return false;
		        }
		        if(node.data.url)
					window.location.href = node.data.url;
				if(event.shiftKey && node.isLazy)
					alert("ctrl");
				//return false;
			},
			onDblClick : function(node, event) {
				logMsg("onDblClick(%o, %o)", node, event);
				node.toggleSelect();
			},
			onKeydown : function(node, event) {
				logMsg("onKeydown(%o, %o)", node, event);
				switch( event.which ) {
					case 32:
						// [space]
						node.toggleSelect();
						return false;
				}
			},
			onKeypress : function(node, event) {
				logMsg("onKeypress(%o, %o)", node, event);
			}
		});
	});

</script>
 <!-- Definition of context menu -->
  <ul id="myMenu" class="contextMenu">
    <li class="edit"><a href="#ping">Ping</a></li>
  </ul>

<div id="classestree"></div>
{% endblock %} 