{% extends "widgets/base_widget.html" %}

{% block widget-content %}
<script>
	function bindContextMenu(span) {
		// Add context menu to this node:
		$(span).jeegoocontext('menu', {
			widthOverflowOffset : 100,
			heightOverflowOffset : 100,
			submenuLeftOffset : -4,
			submenuTopOffset : -5,
			onSelect : function(e, context) {
				var node = $.ui.dynatree.getNode(context);
				var filterType
				//Verifying if the context menu is for a folder or for a server
				if(node.data.isFolder) {
					filterType = "class_filter"
				} else {
					filterType = "identity_filter"
				}

				//If we are working on a folder the filter should be for the complete path and not for the single folder selected
				var filtersList = ''
				if(node.data.isFolder) {
					var classes = node.getKeyPath().split('/');
					for(i in classes) {
						if(classes[i] != '') {
							if(filtersList != '') {
								filtersList += ';'
							}
							filtersList += filterType + '=' + classes[i];
						}
					}
				} else {
					filtersList += filterType + '=' + node.data.filtername
				}
				if($(this).attr('type') == "agent") {
					getExecutionForm('{{settings.BASE_URL}}', 'context-execution-dialog', $(this).attr('agent'), $(this).attr('action'), filtersList, 'response-container')
				} else if($(this).attr('type') == "operation") {
					var action = $(this).attr('action');
					var agent = $(this).attr('agent');
					var parameters = $(this).attr('parameters');
					base_url = "{{settings.BASE_URL}}";
					if (base_url.substr(-1) === "/" ) {
						var strLen = base_url.length;
						base_url = base_url.slice(0,strLen-1);
					}
					url = base_url + "/restapi/mcollective/" + filtersList + '/' + agent + '/' + action + '/';
					if (parameters!=null && parameters!='') {
						url = url + parameters;
					}
					sendRequestToMcollective(url, 'response-container');			
				} else if ($(this).attr('type') == "automatic_op") {
					var javascript_op = $(this).attr('javascript');
					if (javascript_op) {
						//Parsing javascript to replace known templates tag
						javascript_op = javascript_op.replace('$$filterlist$$',filtersList);
						eval(javascript_op);			
					} 
				}

				$(context).animate({
					borderWidth : '0',
					paddingLeft : '0',
					paddingTop : '0',
					paddingBottom : '0',
					paddingRight : '0'
				}, 200);
			},
			onHover : function(e, context) {
				if($(this).hasClass('disabled'))
					return false;
			},
			onShow : function(e, context) {

			},
			onHide : function(e, context) {

			}
		});

	};


	$(document).ready(function() {
		$("#context-execution-dialog").hide();
		$("#expandChildren").click(function() {
			var node = $("#classestree").dynatree("getActiveNode");
			node.expand(true);
			node.visit(function(child){
			    child.expand(true);
			});		
		}).mouseover(function() { 
            $(this).attr("src", "{{settings.STATIC_URL}}/images/expand_over.png");
        })
        .mouseout(function() {
            $(this).attr("src", "{{settings.STATIC_URL}}/images/expand.png");
        });
		$("#compressChildren").click(function() {
			var node = $("#classestree").dynatree("getActiveNode");
			node.visit(function(child){
			    child.expand(false);
			});		
			node.expand(false);
		}).mouseover(function() { 
            $(this).attr("src", "{{settings.STATIC_URL}}/images/collapse_over.png");
        })
        .mouseout(function() {
            $(this).attr("src", "{{settings.STATIC_URL}}/images/collapse.png");
        });
		$("#expandAll").click(function() {
			$("#classestree").dynatree("getRoot").visit(function(node){
			    node.expand(true);
			});	
		});
		$("#classestree").dynatree({
			persist: true,
			title : "Puppet Classes",
			fx : {
				height : "toggle",
				duration : 200
			},
			autoFocus : false, // Set focus to first child, when expanding or lazy-loading.
			onCreate : function(node, span) {
				//Used to reload node using cookie
			    if( node && node.isLazy() ){
			        node.reloadChildren(function(childnode, isOk){	
			        });
			    }
				bindContextMenu(span);
			},
			initAjax : {
				url : "{{settings.BASE_URL}}/puppetclasses/tree/get_tree_nodes/-1/",
				data : {
					mode : "funnyMode"
				}
			},

			onLazyRead : function(node) {
				path = node.getKeyPath().replace(/\//g, "_");
				node.appendAjax({
					url : "{{settings.BASE_URL}}/puppetclasses/tree/get_tree_nodes/" + node.data.level + "/" + path + "/",
					data : {
						key : node.data.key,
						mode : "funnyMode"
					}
				});
			},
			onQueryActivate : function(activate, node) {

				//        return false;
			},
			onActivate : function(node) {

			},
			onDeactivate : function(node) {
				logMsg("onDeactivate(%o)", node);
				$("#echoActive").text("-");
			},
			onQuerySelect : function(select, node) {
				logMsg("onQuerySelect(%o, %o)", select, node);
				if(node.data.isFolder)
					return false;
			},
			onSelect : function(select, node) {
				logMsg("onSelect(%o, %o)", node);
				var s = node.tree.getSelectedNodes().join(", ");
				$("#echoSelected").text(s);
			},
			onQueryExpand : function(expand, node) {
				logMsg("onQueryExpand(%o, %o)", expand, node);
				//        return false;
			},
			onExpand : function(expand, node) {
				logMsg("onExpand(%o, %o)", expand, node);
			},
			onFocus : function(node) {
				logMsg("onFocus(%o)", node);
				$("#echoFocused").text(node.data.title);
				// Auto-activate focused node after 2 seconds
				node.scheduleAction("activate", 2000);
			},
			onBlur : function(node) {
				logMsg("onBlur(%o)", node);
				$("#echoFocused").text("-");
			},
			onClick : function(node, event) {
				logMsg("onClick(%o, %o)", node, event);
				// Close menu on click
				if($(".contextMenu:visible").length > 0) {
					$(".contextMenu").hide();
					//          return false;
				}
				if(node.data.url)
					window.location.href = node.data.url;
				if(event.shiftKey && node.isLazy)
					alert("ctrl");
				//return false;
			},
			onDblClick : function(node, event) {
				logMsg("onDblClick(%o, %o)", node, event);
				node.toggleSelect();
			},
			onKeydown : function(node, event) {
				logMsg("onKeydown(%o, %o)", node, event);
				switch( event.which ) {
					case 32:
						// [space]
						node.toggleSelect();
						return false;
				}
			},
			onKeypress : function(node, event) {
				logMsg("onKeypress(%o, %o)", node, event);
			}
		});
	});

</script>
<!--  Context menu -->
<div class="context">
	<ul id="menu" class="jeegoocontext cm_default">
		{% if agents %}
		<li class="icon">
			<span class="icon folder"></span>Agents
			<ul>
				{% if user.is_superuser %}
					{%for agent in agents %}
						 {% if agent.actions.values %}
							<li class="icon">
								<span class="icon folder"></span>{{agent.name}}
								<ul>
									{%for action in agent.actions.values %}
									<li class="icon" type="agent" agent="{{agent.name}}" action="{{action.name}}">
										<span class="icon file"></span>{{action.name}}
									</li>
									{% endfor %}
								</ul>
							</li>
						{%endif%}
					{% endfor %}
				{% else %}
					{%for key, value in actions.items %}
						 {% if value %}
							<li class="icon">
								<span class="icon folder"></span>{{key}}
								<ul>
									{%for action in value %}
									<li class="icon" type="agent" agent="{{key}}" action="{{action.name}}">
										<span class="icon file"></span>{{action.name}}
									</li>
									{% endfor %}
								</ul>
							</li>
						{%endif%}
					{% endfor %}
				{% endif %}
			</ul>
		</li>
		{% endif %}
		{% if automatic_operations %}
			{%for menu_name, menu_ops in automatic_operations.items %}
			<li class="icon">
				<span class="icon folder"></span>{{menu_name}}
				<ul>
					{%for current_op in menu_ops %}
					<li class="icon" type="automatic_op" javascript="{{current_op.javascript}}">
						<span class="icon file"></span>{{current_op.description}}
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		{% endif %}
		
		{% if operations %}
		<li class="icon">
			<span class="icon folder"></span>Operations
			<ul>
				{%for op in operations %}
				<li class="icon" type="operation" agent="{{op.agent.name}}" action="{{op.action.name}}" parameters={{op.parameters}}>
					<span class="icon file"></span>{{op.name}}
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
	</ul>
</div>
<div id="context-execution-dialog"></div>
<div id="deploy-dialog"></div>
<div id="treecontainer">
	<img id="expandChildren" src="{{settings.STATIC_URL}}/images/expand.png" width="24" height="24"/>
	<img id="compressChildren" src="{{settings.STATIC_URL}}/images/collapse.png" width="24" height="24"/>
	<div id="classestree"></div>
</div>
{% endblock %} 