{% extends "admin_originals/index.html" %}
{% load i18n %}

{% block extrahead %} 
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.2.min.js"></script>
<link type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.15.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.15.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-hotkeys/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript">
		jQuery.ajaxSetup({
			beforeSend : function() {
				$('#loading').show()
			},
			complete : function() {
				$('#loading').hide()
			},
			error : function() {
				$('#loading').hide()
			},
			success : function() {
			},
			timeout: 15000
		});	
</script>
<style>
	#loading {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99999999;
		background-image: url("{{STATIC_URL}}images/transparentbg.png");
	}
	
	#loader {
		position: relative;
		left: 50%;
		top: 50%;
	}
</style>
{% endblock %}

{% block sidebar %}
<div id="loading">
	<div id="loader">
		<p><img src="{{STATIC_URL}}images/ajax-loader.gif" />
		</p>
	</div>
</div>
<script type="text/javascript">
	function executeAction(url) {
		//$("#" + destination).empty();
		$.get(url, function(data) {
			//$('#' + destination).html(data);
		});
	}
</script>
<div id="content-related">
	<div class="module" id="custom-action-module">
		<h2>{% trans 'Custom Admin Actions' %}</h2>
		<ul class="actionlist">
			<li>
				<a href="#" onclick="executeAction('/restapi/execute/refresh_dashboard/');">Refresh Widgets</a>
			</li>
		</ul>
	</div>
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent Actions' %}</h2>
		<h3>{% trans 'My Actions' %}</h3>
		{% load log %}
		{% get_admin_log 10 as admin_log for_user user %}
		{% if not admin_log %}
		<p>
			{% trans 'None available' %}
		</p>
		{% else %}
		<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				{% if entry.is_deletion or not entry.get_admin_url %}
				{{ entry.object_repr }}
				{% else %} <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}
				<br/>
				{% if entry.content_type %} <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
				{% else %} <span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}