{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n adminmedia grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}<div id="breadcrumbs">{% trans "Home" %}</div>{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

<!-- Extra Heads -->
{% block extrahead %} 
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.2.min.js"></script>
<link type="text/css" href="{{STATIC_URL}}css/kermit/jquery-ui-1.8.15.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.15.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-hotkeys/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/kermit/kermit.js"></script>
<style>
	#loading {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99999999;
		background-image: url("{{STATIC_URL}}images/transparentbg.png");
	}
	
	#loader {
		position: relative;
		left: 50%;
		top: 50%;
	}
</style>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<style>
	.ui-progressbar-value { background-image: url("{{STATIC_URL}}images/redmond/pbar-ani.gif"); }
</style>
<div id="modalprogress">
	<div id="progressbar"></div>
	<div id="taskstate"></div>
</div>
<script type="text/javascript">
	function executeAction(title, url) {
		$('#modalprogress').dialog({
			modal : true,
			title : title,
			height : 100,
			width : 500
		});
		$( "#progressbar" ).progressbar({ value: 0 });
		$( "#taskstate").html('<b>Waiting...	</b>');
		//$("#" + destination).empty();
		$.get(url, function(data) {
			//$('#' + destination).html(data);
			var checkStatus = function() {
				var generated_url = generate_url(data.taskname, data.UUID);
		    	$.getJSON(generated_url, function(result) {
		    		$( "#progressbar").progressbar({ value: result.value });
					$( "#taskstate").html('<b>' + result.state + '</b>');	
			        if(result.state!='SUCCESS' && result.state!='FAILURE') {
			            setTimeout(checkStatus, 2000);
			        } else {
			        	$('#modalprogress').dialog('close');
			        }
		        // do something else
    		 	});
			}
			if (data.UUID) {
				checkStatus();
			} else {
				$('#modalprogress').dialog('close');	
			}
		});
	}
	
	function generate_url(taskname, uuid){
	    return "{% url get_progress taskname=12345 taskid=6789 %}".replace("12345", taskname).replace("6789", uuid);
	}
</script>
<div class="container-grid">
	<div id="uploadForm"></div>
    <div class="column span-12">
        {% if app_list %}
            {% for app in app_list %}
                <div class="module" id="app_{{ app.name|lower }}">
                    <h2><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></h2>
                    {% for model in app.models %}
                        <div class="row">
                            {% if model.perms.change %}<a href="{{ model.admin_url }}">{{ model.name }}</a>{% else %}<span>{{ model.name }}</span>{% endif %}
                            <ul class="actions">
                                <li class="add-link">{% if model.perms.add %}<a href="{{ model.admin_url }}add/">{% trans 'Add' %}</a>{% else %}&nbsp;{% endif %}</li>
                                <li class="change-link"> {% if model.perms.change %}<a href="{{ model.admin_url }}">{% trans 'Change' %}</a>{% else %}&nbsp;{% endif %}</li>
                            </ul>
                       </div>
                   {% endfor %}
               </div>
           {% endfor %}
        {% else %}
            <p>{% trans "You don´t have permission to edit anything." %}</p>
        {% endif %}
    </div>
	<div class="column span-6">
		<div class="module actions" id="custom-refresh-action-module">
		<h2>{% trans 'Refresh Actions' %}</h2>
		<ul class="actionlist">
			<li>
				<a href="#" onclick="executeAction('Refresh Widgets', '{% url action_executer "refresh_dashboard" "ASYNC"%}');">{% trans 'Refresh Widgets' %}</a>
			</li>
			<li>
				<a href="#" onclick="executeAction('Refresh Server Basic Info', '{% url action_executer "refresh_server_basic_info" "ASYNC"%}');">{% trans 'Refresh Server Basic Info' %}</a>
			</li>
			<li>
				<a href="#" onclick="executeAction('Refresh Server Inventory', '{% url action_executer "refresh_server_inventory" "ASYNC" %}');">{% trans 'Refresh Server Inventory' %}</a>
			</li>
			<li>
				<a href="#" onclick="executeAction('Update Agents Info', '{% url action_executer "update_agents" "ASYNC"%}');">{% trans 'Update Agents Info' %}</a>
			</li>
		</ul>
		</div>
		<div class="module actions" id="custom-import-action-module">
		<h2>{% trans 'Import Actions' %}</h2>
		<ul class="actionlist">
			<li>
				<a href="#" onclick="getUploadForm('{% url get_upload_form 'importPuppetClass' %}', 'uploadForm')">{% trans 'Import PuppetClasses' %}</a>
			</li>
			<li>
				<a href="#" onclick="getUploadForm('{% url get_upload_form 'importAcls' %}', 'uploadForm')">{% trans 'Import ACLs' %}</a>
			</li>
		</ul>
		</div>
		<div class="module actions" id="custom-import-action-module">
		<h2>{% trans 'Other Actions' %}</h2>
		<ul class="actionlist">
			<li>
				<a href="#" onclick="executeAction('Send Inventory Email', '{% url send_inventory_mail %}');">{% trans 'Send Inventory Email' %}</a>
			</li>
		</ul>
		</div>
        <div class="module actions" id="recent-actions-module">
            <h2>{% trans 'Recent Actions' %}</h2>
            <div class="module">
                <h3>{% trans 'My Actions' %}</h3>
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul>
                        {% for entry in admin_log %}
                            <li class="{% if entry.is_addition %}add-link{% endif %}{% if entry.is_change %}change-link{% endif %}{% if entry.is_deletion %}delete-link{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
