<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Max-Age" content="0">
		<meta http-equiv="Cache-Control" content="no-cache">
		<title>Kermit WebUI</title>
		<!-- FqvIcon -->
		<link rel="icon" type="image/png" href="{{STATIC_URL}}images/favicon.png"/>
		<link rel="apple-touch-icon" href="{{STATIC_URL}}images/favicon.png"/>
		{% block stylesheets %}
		<link href="{{STATIC_URL}}css/kermit/base.css" rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}css/kermit/jquery-ui-grappelli-extensions.css" rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}css/kermit/loader.css" rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}css/kermit/jquery-ui-1.8.15.custom.css" rel="stylesheet" type="text/css" />	 
		
		<!-- DynaTree -->
		<link href="{{STATIC_URL}}css/dynatree/kermit/ui.dynatree.css" rel="stylesheet" type="text/css">
		<!-- INettus -->
		<link href="{{STATIC_URL}}css/inettus/inettuts.css" rel="stylesheet" type="text/css" />
		<!-- JQuery Context Menu -->
		<link href="{{STATIC_URL}}css/jeegoocontext/style.css" rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}css/jeegoocontext/skins/cm_default/style.css" rel="Stylesheet" type="text/css" />
		<!-- jQuery qTip-->
		<link href="{{STATIC_URL}}css/jquery-qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />
		
		<!-- jQuery-FlexBox-->
		<link href="{{STATIC_URL}}css/jquery-flexbox/jquery.flexbox.css" rel="stylesheet" type="text/css" />
		
		<!-- DataTable -->
		<link href="{{STATIC_URL}}css/datatable/demo_page.css" rel="stylesheet" type="text/css" />
		<link href="{{STATIC_URL}}css/datatable/demo_table.css" rel="stylesheet" type="text/css" />
		
		<!-- Collapsible Panel-->
		<link href="{{STATIC_URL}}css/jquery-collapsible-panel/diQuery-collapsiblePanel.css" rel="Stylesheet" type="text/css" />
		
		<link href="{{STATIC_URL}}css/kermit/kermit-skin-default.css" rel="stylesheet" type="text/css" />
		{% endblock %} <!-- EXTRASTYLES -->
		{% block extrastyle %}{% endblock %} <!-- JAVASCRIPTS -->
		{% block javascripts %} 
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.15.custom.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-hotkeys/jquery.hotkeys.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-form/jquery.form.js"></script>
		<!-- DynaTree-->
		<script src="{{STATIC_URL}}js/dynatree/jquery.dynatree.js" type="text/javascript"></script>
		<!-- JQuery Cookie -->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-cookie/jquery.cookie.js"></script>
		<!-- JQuery Context Menu-->
		<script type="text/javascript" src="{{STATIC_URL}}js/jeegoocontext/jquery.jeegoocontext.js"></script>
		<!-- JQuery qTip-->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-qtip/jquery.qtip.min.js"></script>
		<!-- JQuery FlexBox-->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-flexbox/jquery.flexbox.min.js"></script>
		<!-- Collapsible Panel-->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-collapsible-panel/diQuery-collapsiblePanel.js"></script>
		<!-- DataTable -->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-datatable/jquery.dataTables.min.js"></script>
		<!-- Kermit Scripts-->
		<script type="text/javascript" src="{{STATIC_URL}}js/kermit/kermit.js"></script>
		<script>
			jQuery.fn.center = function() {
				this.css("position", "absolute");
				this.css("top", ($(window).height() - this.height()) / 2 + $(window).scrollTop() + "px");
				this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
				return this;
			}
			// implement JSON.stringify serialization
			JSON.stringify = JSON.stringify ||
			function(obj) {
				var t = typeof (obj);
				if(t != "object" || obj === null) {
					// simple data type
					if(t == "string")
						obj = '"' + obj + '"';
					return String(obj);
				} else {
					// recurse array or object
					var n, v, json = [], arr = (obj && obj.constructor == Array);
					for(n in obj) {
						v = obj[n];
						t = typeof (v);
						if(t == "string")
							v = '"' + v + '"';
						else if(t == "object" && v !== null)
							v = JSON.stringify(v);
						json.push(( arr ? "" : '"' + n + '":') + String(v));
					}
					return ( arr ? "[" : "{") + String(json) + ( arr ? "]" : "}");
				}
			};
		    $.fn.grp_collapsible = function(options){
		        var defaults = {
		            toggle_handler_slctr: ".collapse-handler:first",
		            closed_css: "closed",
		            open_css: "open",
		            on_init: function() {},
		            on_toggle: function() {}
		        };
		        var opts = $.extend(defaults, options);
		        return this.each(function() {
		            _initialize($(this), opts);
		        });
		    };
		    var _initialize = function(elem, options) {
		        options.on_init(elem, options);
		        _register_handlers(elem, options);
		    };
		    var _register_handlers = function(elem, options) {
		        _register_toggle_handler(elem, options);
		    };
		    var _register_toggle_handler = function(elem, options) {
		        elem.children(options.toggle_handler_slctr).click(function() {
		            elem.toggleClass(options.closed_css).toggleClass(options.open_css);
		        });
		    };
		    $(document).ready(function() {
		        $("div#header .collapse").grp_collapsible({
		            on_init: function(elem, options) {
		                // open collapse (and all collapse parents) in case of errors
		                
		            }
		        });
		     });
		</script>
		{% endblock %}

		{% block extrahead %}{% endblock %}
	</head>
	<body class="{% block bodyclass %}{% endblock %}">
		<div id="loading">
			<div id="loader">
				<p><img src="{{STATIC_URL}}images/ajax-loader.gif" />
				</p>
			</div>
		</div>
		{% include "theme/kermit/header.html" %} 
		<!-- BREADCRUMBS -->
		{% block breadcrumbs %}
		{% endblock %}
		{% if messages %}
		<ul class="messagelist">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{{ message }}</li>
				{% endfor %}
		</ul>
		{% endif %}
		<div id="container">
			<!-- section hedaerconetent -->
			{% block bigcontent %} <!-- main conetent -->
			<div class="central-content">
				{% block navbar %}
				<p>
					<table>
						<tr>
							<td style="vertical-align:middle"><a href="{% url index %}"><img src="{{STATIC_URL}}img/menu-16.png" align="middle" /></a></td>
							<td style="vertical-align:middle"><a href="{% url index %}"> Main Menu</a></td>
							<td width="30"></td>
							{% block extra-manu %}{% endblock%}
						</tr>
					</table>
					<br />
				</p>
				{% endblock %}
				<p>
					<style>
						.ui-progressbar-value { background-image: url("{{STATIC_URL}}images/redmond/pbar-ani.gif"); }
					</style>
					<div id="modalprogress">
						<div id="progressbar"></div>
						<div id="taskstate"></div>
					</div>
					<div id="modalresponsecontainer">
					</div>
					{% block content %}{% endblock %}
				</p>
			</div>
			{% endblock %} <div class="closed-bar"></div>
			{% if service_status%}
			<div class="kermitfooter">
				{% for service in service_status%}
				<img src="{{static_url}}images/icons/{% if service.status %}online.png{% else %}offline.png{% endif %}" style="border: 0px; height: 10px;margin: 0px;float:none;"/>
				{{service.name}} {% if service.description %}({{service.description}}){% endif %} &nbsp;&nbsp;&nbsp;
				{%endfor%}
			</div>
			{% endif %}
		</div>
		<div class="footer"></div>
		<script type="text/javascript" src="{{STATIC_URL}}js/inettuts/inettuts-custom-kermit.js"></script>
	</body>
</html>
