{% extends "widgets/base_widget.html" %}
{% load i18n %}
{% block widget-content %}
<script>
	function showDynaEdit(id) {
		$.ajax({
			// The link we are accessing.
			url : "{% url get_dynamicgroup_form dynagroup_id=12345%}".replace("12345", id),
			// The type of request.
			type : "get",
			// The type of data that is getting returned.
			dataType : "html",
			error : function() {
				//TODO: Show error message
				//$('#loading').hide();
				showMessageDialog("{% trans 'Cannot get form. Error communicating with server' %}", "{% trans 'OK' %}");
			},
			beforeSend : function() {
				//$('#loading').show();
			},
			complete : function() {
				//$('#loading').hide();
			},
			success : function(data) {
				if(data != 'None') {
					$("#dynagroup-dialog").html(data);
					$("#dynagroup-dialog").dialog({
						modal : true,
						title : 'Dynamic Group',
						minHeight : 200,
						minWidth : 500
					});
					$("#dynagroup-dialog").show();
				} 
			}
		});
	}

	function bindDynaContextMenu(span) {
		// Add context menu to this node:
		$(span).jeegoocontext('dynamenu', {
			widthOverflowOffset : 100,
			heightOverflowOffset : 100,
			submenuLeftOffset : -4,
			submenuTopOffset : -5,
			onSelect : function(e, context) {
				var node = $.ui.dynatree.getNode(context);
				var filterType
				//Verifying if the context menu is for a folder or for a server
				if(node.data.isFolder) {
					filterType = "identity_filter"
				} else {
					filterType = "identity_filter"
				}

				//If we are working on a folder the filter should be ffor all servers in the selected group
				var filtersList = ''
				if(node.data.isFolder) {
					var servers_names = node.data.filtername.split(';');
					for(i in servers_names) {
						if(servers_names[i] != '') {
							if(filtersList != '') {
								filtersList += ';'
							}
							filtersList += filterType + '=' + servers_names[i];
						}
					}
				} else {
					filtersList += filterType + '=' + node.data.filtername
				}
				if($(this).attr('type') == "agent") {
					getExecutionForm('{{settings.BASE_URL}}', 'context-dyna-execution-dialog', $(this).attr('agent'), $(this).attr('action'), filtersList, 'response-container')
				} else if($(this).attr('type') == "operation") {
					var action = $(this).attr('action');
					var agent = $(this).attr('agent');
					var parameters = $(this).attr('parameters');
					base_url = "{{settings.BASE_URL}}";
					if (base_url.substr(-1) === "/" ) {
						var strLen = base_url.length;
						base_url = base_url.slice(0,strLen-1);
					}
					url = base_url + "/restapi/mcollective/" + filtersList + '/' + agent + '/' + action + '/';
					if (parameters!=null && parameters!='') {
						url = url + parameters;
					}
					sendRequestToMcollective(url, 'response-container');			
				} else if ($(this).attr('type') == "automatic_op") {
					var javascript_op = $(this).attr('javascript');
					if (javascript_op) {
						//Parsing javascript to replace known templates tag
						javascript_op = javascript_op.replace('$$filterlist$$',filtersList);
						eval(javascript_op);			
					} 
				} else if ($(this).attr('type') == "dynagroup_edit") {
					showDynaEdit(node.data.id);
				} else if ($(this).attr('type') == "dynagroup_del") {
					$("#dynagroup-dialog").html("{% trans 'Are you sure you want to delete the selected dynamic group?' %}");
					$("#dynagroup-dialog").dialog({
						modal : true,
						title : 'Dynamic Group',
						minHeight : 200,
						minWidth : 500,
				      buttons : {
				        "Confirm" : function() {
				        	$("#dynagroup-dialog").dialog("close");
				        	$.ajax({
								// The link we are accessing.
								url : "{% url delete_dynamicgroup dynagroup_id=12345%}".replace('12345', node.data.id),
								// The type of request.
								type : "get",
								// The type of data that is getting returned.
								dataType : "html",
								error : function() {
									//TODO: Show error message
									//$('#loading').hide();
									showMessageDialog("{% trans 'Cannot contact server for delete group operation' %}", "{% trans 'OK' %}");
								},
								beforeSend : function() {
									//$('#loading').show();
								},
								complete : function() {
									//$('#loading').hide();
								},
								success : function(data) {
									showMessageDialog("{% trans 'DynamicGroup successfully deleted' %}", "{% trans 'OK' %}");	
								}
							});  
				        },
				        "Cancel" : function() {
				          $(this).dialog("close");
				        }
				      }
				    });
				
				    $("#dynagroup-dialog").dialog("open");
				}

				$(context).animate({
					borderWidth : '0',
					paddingLeft : '0',
					paddingTop : '0',
					paddingBottom : '0',
					paddingRight : '0'
				}, 200);
			},
			onHover : function(e, context) {
				if($(this).hasClass('disabled'))
					return false;
			},
			onShow : function(e, context) {
				var node = $.ui.dynatree.getNode(context);
				var children = $(this).children('li');
				for (child_id in children) {
					if (parseInt(child_id)) {
						var current_child = children[child_id];
						if ($(current_child).attr('groups')) {
							if (contains(node.data.classes, $(current_child).attr('groups'))) {
								$(current_child).show();
							} else {
								$(current_child).hide();
							}
						} else if ($(current_child).attr('dynagroup')) {
							if (node.data.isFolder) {
								$(current_child).show();	
							} else {
								$(current_child).hide();	
							}
						}
					}
					
				}
				return true;
			},
			onHide : function(e, context) {

			}
		});

	};


	$(document).ready(function() {
		$("#dynagroup-dialog").hide();
		$("#context-dyna-execution-dialog").hide();
		$("#dynagroups").dynatree({
			title : "Dyna Groups",
			fx : {
				height : "toggle",
				duration : 200
			},
			autoFocus : false, // Set focus to first child, when expanding or lazy-loading.
			onCreate: function(node, span){
				bindDynaContextMenu(span);
      		},
			initAjax : {
				url : "{% url get_dynamicgroup_tree %}",
				data : {
					mode : "funnyMode"
				}
			},

			onQueryActivate : function(activate, node) {
				
				//        return false;
			},
			onActivate : function(node) {
				
			},
			onDeactivate : function(node) {
				logMsg("onDeactivate(%o)", node);
			},
			onQuerySelect : function(select, node) {
				logMsg("onQuerySelect(%o, %o)", select, node);
				if(node.data.isFolder)
					return false;
			},
			onSelect : function(select, node) {
				logMsg("onSelect(%o, %o)", node);
				var s = node.tree.getSelectedNodes().join(", ");
				$("#echoSelected").text(s);
			},
			onQueryExpand : function(expand, node) {
				logMsg("onQueryExpand(%o, %o)", expand, node);
				//        return false;
			},
			onExpand : function(expand, node) {
				logMsg("onExpand(%o, %o)", expand, node);
			},
			onFocus : function(node) {
				logMsg("onFocus(%o)", node);
				// Auto-activate focused node after 2 seconds
				node.scheduleAction("activate", 2000);
			},
			onBlur : function(node) {
				logMsg("onBlur(%o)", node);
				$("#echoFocused").text("-");
			},
			onClick : function(node, event) {
				logMsg("onClick(%o, %o)", node, event);
				
			},
			onDblClick : function(node, event) {
				logMsg("onDblClick(%o, %o)", node, event);
				node.toggleSelect();
			},
			onKeydown: function(node, event) {
		      switch( event.which ) {
		      case 113: // [F2]
		        if (node.data.isFolder) {
		        	editNode(node);
		        }
		        return false;
		      case 13: // [enter]
		        if( isMac ){
		         if (node.data.isFolder) {
		          editNode(node);
		         }
		          return false;
		        }
		      }
		    },
			onKeypress : function(node, event) {
				logMsg("onKeypress(%o, %o)", node, event);
			}
		});
		
		var content = $('#agentsSearch').val();

	    $('#dynagSearch').keyup(function() { 
	        if ($('#dynagSearch').val() != content) {
	            content = $('#dynagSearch').val();
	            filterTree(content, "dynagroups");
	        }
	    });
	    
		$("#addDynaGroup").click(function() {
			$.ajax({
				// The link we are accessing.
				url : "{% url get_dynamicgroup_form_no_param%}",
				// The type of request.
				type : "get",
				// The type of data that is getting returned.
				dataType : "html",
				error : function() {
					//TODO: Show error message
					//$('#loading').hide();
					showMessageDialog("{% trans 'Cannot get form. Error communicating with server' %}", "{% trans 'OK' %}");
				},
				beforeSend : function() {
					//$('#loading').show();
				},
				complete : function() {
					//$('#loading').hide();
				},
				success : function(data) {
					if(data != 'None') {
						$("#dynagroup-dialog").html(data);
						$("#dynagroup-dialog").dialog({
							modal : true,
							title : 'Dynamic Group',
							minHeight : 200,
							minWidth : 500
						});
						$("#dynagroup-dialog").show();
					} 
				}
			});
		}).mouseover(function() { 
            $(this).attr("src", "{{settings.STATIC_URL}}/images/expand_over.png");
        }).mouseout(function() {
            $(this).attr("src", "{{settings.STATIC_URL}}/images/expand.png");
        });
	});

</script>
<!--  Context menu -->
<div class="context">
	<ul id="dynamenu" class="jeegoocontext cm_default">
		<li class="icon" style="display: none;"></li>
		{% if agents %}
		<li class="icon">
			<span class="icon folder"></span>Agents
			<ul>
				{% if user.is_superuser %}
					{%for agent in agents %}
						 {% if agent.actions.values %}
							<li class="icon">
								<span class="icon folder"></span>{{agent.name}}
								<ul>
									{%for action in agent.actions.values %}
									<li class="icon" type="agent" agent="{{agent.name}}" action="{{action.name}}">
										<span class="icon file"></span>{{action.name}}
									</li>
									{% endfor %}
								</ul>
							</li>
						{%endif%}
					{% endfor %}
				{% else %}
					{%for key, value in actions.items %}
						 {% if value %}
							<li class="icon">
								<span class="icon folder"></span>{{key}}
								<ul>
									{%for action in value %}
									<li class="icon" type="agent" agent="{{key}}" action="{{action.name}}">
										<span class="icon file"></span>{{action.name}}
									</li>
									{% endfor %}
								</ul>
							</li>
						{%endif%}
					{% endfor %}
				{% endif %}
			</ul>
		</li>
		{% endif %}
		{% if automatic_operations %}
			{%for menu_name, menu_ops in automatic_operations.items %}
			<li class="icon" groups="{{menu_name}}">
				<span class="icon folder"></span>{{menu_name}}
				<ul>
					{%for current_op in menu_ops %}
					<li class="icon" type="automatic_op" javascript="{{current_op.javascript}}">
						<span class="icon file"></span>{{current_op.description}}
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		{% endif %}
		
		{% if operations %}
		<li class="icon">
			<span class="icon folder"></span>Operations
			<ul>
				{%for op in operations %}
				<li class="icon" type="operation" agent="{{op.agent.name}}" action="{{op.action.name}}" parameters={{op.parameters}}>
					<span class="icon file"></span>{{op.name}}
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		
		<li class="icon" dynagroup="dynagroup">
			<span class="icon folder"></span>DynaGroup
			<ul>
				<li class="icon" type="dynagroup_edit">
					<span class="icon edit"></span>Edit Group
				</li>
				<li class="icon" type="dynagroup_del">
					<span class="icon delete"></span>Delete Group
				</li>
			</ul>
		</li>
	</ul>
</div>
<div id="context-dyna-execution-dialog"></div>
<div id="dynagroup-dialog"></div>
<img id="addDynaGroup" src="{{settings.STATIC_URL}}/images/expand.png" width="24" height="24"/>
<div id="filter">
	Filter: <input id="dynagSearch" type="text"/>
</div>
<div id="dynagroups"></div>
{% endblock %} 