{% extends "theme/meta.html" %}
{% load widgets %}
{% load i18n %}

{% block navbar %}{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
	<a href="{{base_url}}/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %} <a href="{{base_url}}/server/details/{{hostname}}/">{% trans 'Server Details' %} - {{hostname}}</a>
</div>
{% endblock %}

{% block content %} 
<script type="text/javascript">
	$(document).ready(function() {
	   $("#toolbar-response").hide();
	   $('img[title]').qtip();
	 });
	function executeToolbarOperation(url) {
		callMcollective(url, 'toolbar-response');
		$("#toolbar-response").dialog({
			modal : true,
			title : 'Operation Result',
			height : 200,
			width : 400,
			open: function(event, ui){
				$('body').css('overflow','auto');
				$('.ui-widget-overlay').css('width','100%'); 
			} 
		});		
	}	
	
	function checkExecution(baseurl, hasparameters, agent, action, filter, url) {
		if (hasparameters=='True') {
			getExecutionForm(baseurl, "execution-dialog", agent, action, filter,  "actual-resource-details");
		} else {
			executeToolbarOperation(url);
		}
	}
	
</script>
<div id="execution-dialog"></div>
{% if server_operations %}	
<div class="fg-toolbar">
	{%for group_name, operations in server_operations.items %}
		{{group_name}}
		{% for current_op in operations %}
			<img class="opbutton" onclick="checkExecution('{{settings.BASE_URL}}', '{{current_op.hasparameters}}', '{{current_op.agent}}', '{{current_op.action}}', '{{current_op.filter}}');" src="{{static_url}}/images/toolbar/{{current_op.img}}" title="{{current_op.name}}">
		{% endfor %}
	{%endfor%}
</div>
<div id="toolbar-response"></div>
{% else %}
<br/>
{% endif %}

<div id="columns">
	<ul id="column1" class="column">
		{% widget "ServerDetails" user hostname %}
		&nbsp;<br/>&nbsp;<br/>
	</ul>
	<ul id="column2" class="column">
		{% widget "ServerSummary" user hostname %}
		{% widget "SelectedResourceDetails" user %}	
		&nbsp;<br/>&nbsp;<br/>
	</ul>
</div>
{% endblock %} 