{% extends "theme/meta.html" %}
{% load widgets %}
{% load i18n %}

{% block navbar %}{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
	<a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %} <a href="/server/details/{{hostname}}/">{% trans 'Server Details' %} - {{hostname}}</a>
</div>
{% endblock %}

{% block content %} 
<br/><br/>
<div id="columns">
	<ul id="column1" class="column">
		{% widget "ServerDetails" hostname%}
	</ul>
	<ul id="column2" class="column">
		{% widget "SelectedResourceDetails"%}	
	</ul>
</div>
{% endblock %} 