{% load i18n %}

<strong>{% trans 'OC4J Options'%}</strong>
<table>
	<thead>
		<th>{% trans 'Option'%}</th>
	</thead>
	<tbody>
		{% for opt in oc4j_options%}
			<tr>
				<td>
					{{opt}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br/>
<strong>{% trans 'Java Start Options'%}</strong>
<table>
	<thead>
		<th>{% trans 'Option'%}</th>
	</thead>
	<tbody>
		{% for opt in java_start_options%}
			<tr>
				<td>
					{{opt}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br/>
<strong>{% trans 'Java Stop Options'%}</strong>
<table>
	<thead>
		<th>{% trans 'Option'%}</th>
	</thead>
	<tbody>
		{% for opt in java_stop_options%}
			<tr>
				<td>
					{{opt}}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
