{% extends "widgets/base_widget.html" %}
{% load i18n %}

{% block widget-content %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#applistatustable').dataTable({
			 "oLanguage": {
	            "sSearch": "Appli Search:"
        	}
		});
	} );
</script>

<style type="text/css">
table.applistatus {
	border-width: 2px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	width: 100%;
}

table.applistatus th {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

table.applistatus tr.even {
	background: #CCCCCC;
}
table.applistatus tr.odd {
	background: #F0F0F0
}

</style>
<br/>
<div id="actual-appli-status">
	<table id="applistatustable" class="applistatus">
		<thead>
			<th>{% trans 'Type'%}</th>
			<th>{% trans 'Appli Name'%}</th>
			<th>{% trans 'Version'%}</th>
			<th>{% trans 'Environment'%}</th>
			<th>{% trans 'N. Deployments'%}</th>
		</thead>
		<tbody>
			{% for appli in applications %}
			<tr class="{% cycle odd,even %}">
				<td>{{appli.type}}</td>
				<td><a href="{% url application_details appli.name %}">{{appli.name}}</a></td>
				<td>{{appli.version}}</td>
				<td>{{appli.env}}</td>
				<td>{{appli.deploy}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br/>
{% endblock %} 